<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/404err.css">

    <title>Тут нужен металоискатель...</title>
</head>
<body>
    <main>
        <div class="head-container">
            <h1 class="home">приносим извинения, ваш <a rel="stylesheet" href="/" class="home nav-link">#МЕТАЛШОП</a></h1>
        </div>
        <div class="err-text">
            <article>Такого у нас сейчас нет, может быть и это когда-нибудь откопаем</article>
        </div>
    </main>
    
</body>
</html>