<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/base.css">
    {% block HEAD %}
        <title>МЕТАЛШОП</title>
    {% endblock HEAD %}
    
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark" style="background-color: #343434">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">#МЕТАЛШОП</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% block nav-items %}
                        <a class="nav-link" href="#">КАТАЛОГ</a>  
                    {% endblock nav-items %}   
                </div>
            </div>
        </div>
    </header>

    {% block content %}
            
    {% endblock content %}

    <div class="bottom">
        <div class="contact-group">
            <p>Свяжитесь с нами</p>
            <p>Мы в соцсетях</p>
        </div>
    </div>
</body>


<script src='../static/bootstrap/js/bootstrap.min.js'></script>
</html>