{% extends 'base.html' %}

{% block HEAD %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/preview.css">
{% endblock HEAD %}

{% block nav-items %}
    <a class="nav-link" href="catalog">КАТАЛОГ</a>
{% endblock nav-items %}

{% block content %}
    <main class="container">
        <div class="offers rounded">
            <a class="link-dark" href="catalog/{{offer.id}}" style="text-decoration: none">
                <h1 class="product-name" style="padding-left: 15px">{{offer.name}}</h1>
                <div class="image">
                    {% for p in photo %}
                        <img class="image-source rounded" src={{p.image.url}}>
                    {% endfor %}
                </div>
                {% if offer != None %}
                    <div class="description">
                        <p class="specification">{{offer.description}}</p>
                        <p class="price">{{offer.price}}&#x20bd</p>
                    </div>
                {% endif %}
            </a>
        </div>
        <div class="preview">
            <p class="presentation"></p>
        </div>
    </main>

{% endblock content %}

