{% extends 'base.html' %}
{% load staticfiles %}

{% block HEAD %}
    <title>МЕТАЛШОП {{product.name}}</title>
    <link rel="stylesheet" href="../../static/css/product.css">
{% endblock HEAD %}

{% block nav-items %}
    <a class="nav-link" href="/catalog">КАТАЛОГ</a>    
{% endblock nav-items %}

{% block content %}
<main class="container">
    <div class="product">
        <div class="bio">
          <section class="topic">
            <span>{{product.name}}</span>
          </section>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  {% for photo in product.photo_set.all %}
                  {% with forloop.counter0 as i %}
                          <div class="carousel-item {% if i is 0 %}active{% endif %}">
                              <img class="d-block w-100 image-source rounded" src={{photo.image.url}}>
                          </div>
                  {% endwith %}
                  {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="visually-hidden">Next</span>
              </button>
          </div> 
          <div id="carouselBio" class="carousel slide" data-bs-interval="false" data-bs-ride="carousel">
              <div class="carousel-tabs">
                <div class="carousel-btn-group btn-group" role="group" aria-label="Basic example">
                  <button type="button" data-bs-target="#carouselBio" data-bs-slide-to="0" class="btn btn-dark" aria-current="true" aria-label="Slide 1">Описание</button>
                  <button type="button" data-bs-target="#carouselBio" data-bs-slide-to="1" class="btn btn-dark" aria-label="Slide 2">Харрактерристики</button>
                  <button type="button" data-bs-target="#carouselBio" data-bs-slide-to="2" class="btn btn-dark" aria-label="Slide 3">Отзывы</button>
                </div>
              </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="description">
                        <p>{{product.description}}</p>
                        <span class="price" style="text-align:end;float:right;">Цена: {{product.price}}</span>
                      </div>
                  </div>
                <div class="carousel-item">
                  <div class="chracteristic">
                    <p class="d_type">Тип металоискателя: {{product.d_type}}</p>
                    <p class="frequency">Рабочая частота: {{product.frequency}}</p>
                    <p class="discriminator">Дискриминатор: {% if product.discriminator is True %}есть {% else %}нет{% endif %}</p>
                    <p class="ground_balance">балансировка грунта: {{product.ground_balance}}</p>
                    <p class="sencetivity_settings">Настройка чувствительности: {% if product.sencetivity_settings is True %}есть {% else %}нет{% endif %}</p>
                    <p class="headphone">Подключение наушниеов:  {% if product.headphone is True %}есть {% else %}нет{% endif %}</p>
                    <p class="headphone_type">Тип наушников: {{product.headphone_type}}</p>
                    <p class="coil_diameter">Диаметр катушки:{{product.coil_diameter}}</p>
                    <p class="waterproof_coil">Водозащита катушки: {% if product.waterproof_coil is True %}есть {% else %}нет{% endif %}</p>
                    <p class="length">Длинна металоискателя: {{product.length}}</p>
                    <p class="material">Материал:{{product.material}}</p>
                    <p class="work_pattern">Принцип работы: {{product.work_pattern}}</p>
                    <p class="producing_country">Страна производитель: {{product.producing_country}}</p>   
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="feedback">
                      {% for feedb in feedbacks %}
                        <div class="fedb-item rounded">
                          <p>{{feedb.text}}</p>
                          <p style="text-align: end">{{feedb.author}}</p>
                          <p style="text-align: end">{{feedb.pub_date}}</p>
                        </div>
                      {% endfor %}  
                      <form class="add-feedback" action="{{product.id}}" method="post">    
                        {% csrf_token %}
                        <div class="input-group mb-3">
                          {{feedback_f.text}}
                        </div>
                        <div class="input-group mb-3">
                          {{feedback_f.author}}
                        </div>
                          <button type="submit" class="btn btn-primary mb-3" style="margin-top: 20px">Оставить отзыв</button>    
                      </form>
                  </div>
                </div>
              </div>   
            </div>
        </div>
    </div>
</main>
{% endblock content %}

