.container-fluid{
    margin-left: 10%;
    margin-right: 10%;
}


.bottom{
    height: 350px;
    background-color: #343434;
    color: rgba(255, 255, 255, 0.55);

}

.contact-group{
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: space-between;
}

body{
    background-color: #FFF;
}

text{
    color: #FFFFFF;
}