.container-fluid{
    margin-left: 10%;
    margin-right: 10%;
}


.bottom{
    height: 350px;
    background-color: #343434;
    color: rgba(255, 255, 255, 0.55);

}

.contact-group{
    padding-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: space-between;
}
.contact-group > p{
    font-size: 16pt;
}

body{
    background-color: #FFF;
}

text{
    color: #FFFFFF;
}

@media screen and (max-width:768px){
    .container-fluid{
        margin-left: 0%;
        margin-right: 0%;
    }

    button.navbar-toggler{
        height: 100%;
    }

    a.navbar-brand{
        font-size: 30px;
    }
    a.nav-link{
        font-size: 30px;
    }

    .contact-group{
        padding-top: 25px;
        margin-left: 15%;
        margin-right: 15%;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:500px){
    .container-fluid{
        margin-left: 0%;
        margin-right: 0%;
    }

    button.navbar-toggler{
        height: 100%;
    }

    a.navbar-brand{
        font-size: 30px;
    }
    a.nav-link{
        font-size: 30px;
    }

    .contact-group{
        padding-top: 25px;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: space-between;
    }
}

@font-face {
    font-family: "Etna";
    src: url('../fonts/etna-free-font.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "NocturnoBG";
    src: url('..//fonts/NocturnoBG.otf');
    font-style: normal;
    font-weight: normal;
}