.container{
    background-color: #FFFF;
    max-width: 80%;
    height: 100%;
    padding-bottom: 60px;
}

.offers{
    width: 50%;
    min-width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
    text-decoration: none;
}

.image{
    height: 500px;
    object-fit: cover;
    position: relative;
    display: block;

    overflow: hidden;
}

.image-source{
    object-fit: cover;
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
}

.description{
    display: block;
    margin: 0%;
    padding-top: 15px;
    padding-left: 15px;
}