.container{
    background-color: #616161;
    max-width: 80%;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.offers{
    width: 50%;
    min-width: 500px;
    background-color: rgb(120, 124, 129);
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.image{
    max-height: 600px;
    height: 500px;
    object-fit: cover;
    position: relative;
    display: block;

    overflow: hidden;
}

.image-source{
    object-fit: cover;
    overflow: hidden;
    position: relative;
    display: block;
    height: 100%;
}

