.container{
    max-width: 80%;
    height: 100%;

}

.product{
    display: block;
    justify-content: center;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
    
}

#carouselBio{
    margin-top: 20px;
}

.carousel-tabs{
    display: flex;
    justify-content: space-between;
    font-size: 32pt;
}

.carousel-btn-group{
    width: 100%;
}


.image-source{
    object-fit: cover;
    overflow: hidden;
    position: relative;
    display: block;
    height: 600px;
}

.description{
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    text-align: center;
}

.chracteristic{
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}


.feedback{
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.fedb-item{
    background-color: rgba(138, 138, 138, 0.267);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
}

.add-feedback{
    margin-top: 25px;
}

.price{
    text-align: end;
}

